{% extends "base.html" %}

{% block content %}
<h2>Dostępne Książki</h2>
<div class="row">
    {% for book in books %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.author }}</p>
                <p class="card-text">Cena: {{ book.price }} zł</p>
                <a href="{{ url_for('add_to_cart', book_id=book.id) }}" class="btn btn-primary">Dodaj do koszyka</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="text-center">
    <img src="{{ url_for('static', filename='zdjecie.jpg') }}" alt="Księgarnia" class="img-fluid">
</div>
{% endblock %}
